@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

:root {
  --font-display: 'Goldman', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


body {
  font-family: var(--font-display);
}