@font-face {
  font-family: 'Goldman Sans';
  src: url('fonts/GoldmanSans-Regular.woff2') format('woff2'),
       url('fonts/GoldmanSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Goldman Sans';
  src: url('fonts/GoldmanSans-Bold.woff2') format('woff2'),
       url('fonts/GoldmanSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}